html 
    head    
        title dashboard page 
        style 
         include style.css
    body 
        div(class='home')
            div(class='signup')
                a(href=`/signup`) signup
            div(class='login')
                a(href=`/login`) login

        